row.expander textview {
  border-radius: 0 0 9px 9px;
}

.timerow menubutton spinbutton,
.timerow menubutton label {
  font-size: 24px;
  margin: 3px;
}

.project-icon.large {
  font-size: 48px;
}

.calendar_header,
.calendar_header * {
  border-radius: 0;
}

.date_row_calendar {
  background-color: transparent;
  border: 0;
}

.tasks_box {
  background-color: transparent;
  box-shadow: none;
}

.tasks_box .activatable:hover {
  background-color: @card_bg_color;
}

.dragged {
  border: 2px dashed @card_shade_color;
  background-color: transparent;
  box-shadow: none;
}

.dragged * {
  opacity: 0;
}

.subtask_drop_target {
  border: 2px dashed @card_shade_color;
  border-radius: 6px;
}

.projects_box {
  box-shadow: none;
}