row.expander textview {
  border-radius: 0 0 9px 9px;
}
.timerow menubutton spinbutton,
.timerow menubutton label {
  font-size: 24px;
  margin: 3px;
}
.project-icon.large {
  font-size: 48px;
}
.calendar_header, .calendar_header * {
  border-radius: 0;
}
